@{
    ViewBag.Title = "Cộng Đồng";
}

<main class="community-page-main">
    <div class="page-header">
        <h1>Chào mừng tới Cộng đồng MomExchange</h1>
        <p>Nơi các bà mẹ chia sẻ, trao đổi và tìm kiếm những món đồ hữu ích cho bé yêu.</p>
    </div>

    <div class="post-grid">

        <article class="post-card">
            <div class="card-image">
                <a href="#"><img src="https://xedayembenhatban.com/wp-content/uploads/2019/03/xe-day-second-hand-tp-hcm-4.jpg" alt="Bài đăng 1"></a>
            </div>
            <div class="card-content">
                <div class="card-tags">
                    <span>Thanh lý</span>
                    <span>Xe đẩy</span>
                </div>
                <h3 class="card-title"><a href="#">Thanh lý xe đẩy Combi còn mới 95% cho bé</a></h3>
                <div class="card-author">
                    <i class="fa-regular fa-user"></i>
                    <span>Đăng bởi <strong>Mẹ Sóc</strong></span>
                </div>
                <a href="#" class="details-link">
                    Xem chi tiết <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
        </article>

        <article class="post-card">
            <div class="card-image">
                <a href="#"><img src="https://vinasave.com/vnt_upload/news/05_2018/mua-ban-thanh-ly-may-ham-sua-cu-cho-be-2.jpg" alt="Bài đăng 2"></a>
            </div>
            <div class="card-content">
                <div class="card-tags">
                    <span>Trao đổi</span>
                    <span>Đồ chơi</span>
                </div>
                <h3 class="card-title"><a href="#">Cần đổi bộ đồ chơi gỗ lấy máy hâm sữa</a></h3>
                <div class="card-author">
                    <i class="fa-regular fa-user"></i>
                    <span>Đăng bởi <strong>Mẹ Bắp</strong></span>
                </div>
                <a href="#" class="details-link">
                    Xem chi tiết <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
        </article>

        <article class="post-card">
            <div class="card-image">
                <a href="#"><img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lwfd7vvxypjt39" alt="Bài đăng 3"></a>
            </div>
            <div class="card-content">
                <div class="card-tags">
                    <span>Thanh lý</span>
                    <span>Quần áo</span>
                </div>
                <h3 class="card-title"><a href="#">Pass nhanh set 5 body Nous cho bé trai 3-6m</a></h3>
                <div class="card-author">
                    <i class="fa-regular fa-user"></i>
                    <span>Đăng bởi <strong>Mẹ An</strong></span>
                </div>
                <a href="#" class="details-link">
                    Xem chi tiết <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
        </article>
    </div>
</main>